{% extends 'main/base.html' %}

{% block title %} All products {% endblock %}

{% block content %}

    <section class="shop container">
        <div class="shop__filter">
            <form method="get" action="{% url 'product_list' %}">
                <label for="category">Сортування за категорією</label>
                <select name="category" id="category">
                    <option value="" selected>Всі категорії</option>
                    {% for category in categories %}
                        <option value="{{category.slug}}" {% if category.slug == request.GET.category %}selected{% endif %}>{{ category.name }}</option>
                    {% endfor %}
                </select>
                <label for="in_stock">В наявності</label>
                <input type="checkbox" name="in_stock" id="in_stock" {% if request.GET.in_stock %}checked{% endif %}>
                <button type="submit" class="shop__button">Застосувати</button>
            </form>
            <form method="get" action="{% url 'product_list' %}" class="search">
                {{ search.search_query }}
                <button type="submit" class="shop__button">Пошук</button>
            </form>
        </div>

        <div class="shop__items">
            <h1>Усі продукти</h1>

            <div class="shop__block">
                {% for product in products %}
                    <div class="shop__block__items">
                        <img src="{{product.image.url}}">
                        <h2>{{ product.name }}</h2>
                        <p>Категорія: {{ product.cat.name }}</p>
                        <p>Ціна: {{ product.price }} грн</p>
                        <p>В наявності: {% if product.in_stock %}Так{% else %}<span>Ні</span>{% endif %}</p>
                        <a href="{% url 'product_detail' pk=product.pk %}">Подробиці</a>
                    </div>

                    {% if forloop.counter|divisibleby:3 and not forloop.last %}
                        </div><div class="shop__block">
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="pagination">
            <span class="step-links">
                {% if products.has_previous %}
                    <a href="?page=1">Перша</a>
                    <a href="?page={{ products.previous_page_number }}"><<</a>
                {% endif %}

                <span class="current">
                    Сторінка {{ products.number }} з {{ products.paginator.num_pages }}.
                </span>

                {% if products.has_next %}
                    <a href="?page={{ products.next_page_number }}"> >> </a>
                    <a href="?page={{ products.paginator.num_pages }}">Остання</a>
                {% endif %}
            </span>
        </div>

    </section>
{% endblock %}
